@{
    ViewData["Title"] = "Api";
}
<h1>@ViewData["Title"]</h1>
<a class="btn btn-success" asp-controller="Autor" asp-action="Index">Autores</a>
<a class="btn btn-success" asp-controller="Libro"
   asp-action="Index">Libros</a>


